.alert2 .alert {
  padding: 20px;
  background-color: #091121;
  color: white;
  width:100%;
  font-size: 13px;
  border-radius:0px;
  margin-bottom: 0px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}